/*General set-up*/
body{
    height: 100%;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*Navbar*/
.navbar{
    background-color: rgb(255, 255, 255);
    padding: 0 0 0 0;
    font-size: 1.2em;
}

.navbar-default .navbar-nav li a{
    color: black;
}

.navbar-default .navbar-brand {
    color: rgb(0, 0, 0);
}

.navbar-default .navbar-brand:hover{
    transform: scale(1.1);
    color: black;
    transition-duration: 250ms;
}

.navbar-default .navbar-nav li a{
    color: black;
}
.navbar-default .navbar-nav li a:hover{
    color: black;
    transform: scale(1.1);
    transition-duration: 250ms;
}
/*Fancy background 1*/
#home{
    background: url(../Portfolio-Prototype/Digital\ assets/background.jpg) no-repeat center center fixed ;
    display: table;
    height: 100vh;
    position: relative;
    width: 100vw;
    background-size: cover;
}

.landing-text{
    color: beige;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
 .landing-text h1{
     font-size: 300%;
     font-weight: 700;
 }

 .landing-text p{
     font-size: 150%;
 }

 .btn-default{
     font-size: 150%;
     color: white;
     background-color: transparent;
 }
 .btn-default:hover{
     transform: scale(1.1);
     transition-duration: 250ms ;
     background-color: transparent;
     color: white;
 }

 .padding{
     padding: 80px 0;
 }

 .padding .row{
     padding-top: 80px;
 }

 .padding img{
     width: 100%;
 }

 #proj{
     text-align: center;
 }

 #fixed{
     background: url(../Portfolio-Prototype/Digital\ assets/background1.jpg) no-repeat center center fixed;
     display: table;
     height: 60vh;
     position: relative;
     width: 100vw;
     background-size: cover;
 }

 footer{
     width: 100vw;
     background-color: black;
     color: white;
     padding: 4% 4% 8% 4%;
 }

 .fa{
     padding-right: 5px;
     padding-left: 5px;
     font-size: 25px;
     color: white;
 }

 .fa:hover, fa:active, fa:visited, fa:focus{
    text-decoration: none;
}

 footer a{
     color: white;
 }


 footer a:hover, a:active, a:visited, a:focus{
    text-decoration: none;
}
